@import "normalize";
@import "compass/css3/transition";
@import "helpers";
@import "base";

/**
 * Setting the width and margins of the sections
 */
.page-wrap {
  background-color: #fff;
  overflow: hidden;
}
.content-wrapper {
  padding: 0 2%;
}

/**
 * Logo & Navigation
 */
.logo-bar h1 {
  margin:0; 
  padding: 0;
}
.section-header {
  background-color: #b4e499;
  width: auto;
}
.section-mainnav {
  width: auto;

  .title {
    background: transparent url('../images/sprite.png') 0 0 no-repeat;
    background-position: 0 -1116px;
    display: block;
    float: left;
    height: 36px;
    max-height: 36px;
    margin: 2%;
    width: 36px;
    max-width: 36px;
    text-indent: -9999px;
  }

  .show-menu {
    background: transparent url('../images/sprite.png') 0 0 no-repeat;
    background-position: 0 -1374px;
    display: block;
    float: right;
    height: 36px;
    max-height: 36px;
    margin: 2%;
    width: 36px;
    max-width: 36px;
    text-indent: -9999px;
  }
}

#mainnav { 
  background-color: #fff; 
}
.no-js .section-mainnav ul { 
  display: none;
  list-style: none; 
}
.section-mainnav {
  ul {
    margin: 0;
    padding:0;  
  }
  
  li {
    border-left: 1px #b4e499 solid;
    border-right: 1px #b4e499 solid;
    border-bottom: 1px #b4e499 solid;
    margin: 0;
    padding: 0;

    a {
      display: block;
      width: auto;
      height: auto;
      margin: 0;
      padding: 2%;
      @include transition(all 0.5s ease);

      &:hover, &:active {
        background-color: #b4e499;
        color: #fff;
      }
    }
  }
  
}

/**
 * Welcome
 */
.section-welcome { padding: 3% 0; }
.section-welcome p {
  font-size: 2em;
  font-weight: 500;
  text-align:center;
}

/**
 * Portfolio
 *
 * Settings for all Devices
 */
.section-portfolio{ padding: 3% 2%; margin-bottom: 2%; }
.section-portfolio .slides .slider-pic {
  float: left;
}
.section-portfolio .slides .slider-pic img {
  width: 100%;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap article {
  display: inline;
  float:left;
  width:100%;
  position: relative;
  height: auto;
  max-height: 70%;
}
/* Slider Controls */
.next-slide, .prev-slide { display: none; }

/**
 * About
 */
.section-about {
  background-color: #b4e499;
  padding: 1% 0 3%;
}
.section-about .my-picture {
  border-radius: 15px;
  background: #fff;
  display: block;
  margin: 0 auto;
  padding: 2px;
  width: 125px;
}
.my-picture img { 
  border-radius: 15px;
  width: 100%; 
}

/**
 * Skills
 */
.section-skills { padding: 3% 0; }

/**
 * Tools
 */
.section-tools { padding: 3% 0; }
.tools-list {
  width: auto;
  list-style: none;
  max-width: 160px;
  margin: 0 auto;
  padding: 0;
}
.tools-list li {
  background: transparent url("../images/sprite.png") 0 0 no-repeat;
  width: 160px;
  height: 90px;
  text-indent: -9999px;
  float: left;
  padding: 2% 0;
}
.tools-list .tools-apple { background-position: 0 0; } 
.tools-list .tools-boilerplate{ background-position: 0 -604px;  } 
.tools-list .tools-css3 { background-position: 0 -474px;  }  
.tools-list .tools-html5 { background-position: 0 -734px;  } 
.tools-list .tools-jquery { background-position: 0 -864px;  }
.tools-list .tools-wordpress { background-position: 0 -1460px;  } 

/**
 * Contact
 */
.section-contact{ 
  padding: 3% 0; 
}
.section-contact ul { 
  list-style: none; 
  margin: 0; 
  padding: 0; 
}
.section-contact li { margin: 0 0 2% 0 }
.section-contact ul li a {
  background-color: #fff;
  border: 1px solid #b4e499;
  color: #333;
  display: inline-block;
  margin: auto;
  padding: 8px 15px;
  text-decoration: none;
  @include transition(all 0.5s ease);
  width: 4em;
}
.section-contact ul li a:hover, .section-contact ul li a:active {
  background-color: #b4e499;
  color: #fff;
}


/* ==========================================================================
   Override the primary ('mobile first') styles.
   ========================================================================== */

@media only screen and (min-width: 600px) {
  /**
   * Common Styles
   */
  h2 { font-size: 200%; }
  
  .content-wrapper {
    max-width: 1024px;
    margin: 0 auto;
  }
  
  /**
   * Welcome
   */
  .section-welcome p { font-size: 3em; }
  
  /**
   * Header and Nav
   */
  .section-mainnav {
    max-width: 1024px;
    margin: 0 auto;
  }
  .logo-bar {
    float: left;
    padding: 2% 0 2% 2%;
    width: 74px;
  } 
  .section-mainnav .title {
    background: transparent url("../images/sprite.png") 0 -994px no-repeat;
    height: 72px;
    max-height: 72px;
    width: 72px;
    max-width: 72px;
  }
  #mainnav { 
    background: #b4e499;
    float: left;
    padding: 2% 0 2% 3%;
    width: auto;
  }
  .section-mainnav ul li {
    float: left;
    line-height: 4.4em;
    margin: 0 0.5em;
    text-align: center;
    width: auto;
    white-space: nowrap;
  }
  .section-mainnav li a {
    color: #fff;
  }
  
  /**
   * Portfolio
   */
  .section-portfolio {
    position: relative;
  }
  .next-slide, .prev-slide { 
    background: transparent url("../images/sprite.png");
    width: 48px;
    height: 36px;
    display: block;
    position: absolute;
    text-indent: -9999px;
    cursor: pointer;
    top: 300px;
    z-index: 10000;
  }
  .prev-slide {
    background-position: 0 -130px;
    left: 0;
  }
  .next-slide {
    background-position: 0 -302px;
    right: 0;
  }
  .prev-slide:hover, .prev-slide:active {
    background-position: 0 -216px;
  }
  .next-slide:hover, .next-slide:active {
    background-position: 0 -388px;
  }
  
  /**
   * About
   */
  .section-about .my-picture {
    float: left;
  }
  .section-about p {
    margin-left: 150px;
  }
  
  /**
   * Tools
   */
  .tools-list {
    max-width: 480px;
  }
  
  /**
   * Contact
   */
   .grid article { float: left; }
   .grid-50 { width: 50%; }
  
  
}

@media only screen and (min-width: 1000px) {
  /**
   * Tools
   */
  .tools-list {
    max-width: 960px;
  }
}


@import "print";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
